

<ion-content>
  <div class="top_img"><img src="assets/images/banner_03.png"></div>

  <form class="main_forms">
    <ion-grid>
      <ion-row>
        <h1 class="text-center">Login</h1>
      </ion-row>
    </ion-grid>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" class="custom_btn"  expand="block">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>

  <div class="imge_boom">
    <img src="assets/images/login_bottom.png">
  </div>
</ion-content>