h1.text-center {
    text-align: center;
    margin: auto;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
.imge_boom {
    position: absolute;
    bottom: 0;
}
.imge_boom img {
    width: 75%;
    margin: auto;
    display: block;
}
.main_forms{
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    margin: 25px;
    position: relative;
    bottom: 54px;
    border-radius: 15px;
}
ion-button.custom_btn {
    --background: #383883;
    height: 43px;
    width: 120px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
a.small-text {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 300;
}