<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="menus_btns">
      <ion-menu-button style='color:white'></ion-menu-button>
    </ion-buttons>
    <ion-title class="test_cneters" text-center>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="res">
  <div class="top_img"><img src="assets/images/banner-055.jpg"></div>

  <form class="main_forms">
    <!-- <ion-grid>
      <ion-row>
        <h1 class="text-center">Login</h1>
      </ion-row>
    </ion-grid> -->
    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password Confirm</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" class="custom_btn"  expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-grid>
  <ion-row class="back_logins">
      <ion-button type="submit" class="backtologin"  expand="block"><ion-icon name="arrow-back-circle-outline"></ion-icon>  Back to Login</ion-button>
  </ion-row>
</ion-grid>

</ion-content>
